.app {
  text-align: center;
  padding: 50px;
}

button {
  cursor: pointer;
}

/* Start Game Page */

.startGameWrapper {
  margin-top: 25%;
}

.startGameWrapper > button {
  padding: 10px 50px;
  font-size: 30px;
  color: white;
  background-color: rgba(15, 190, 190, 0.904);
  border: none;
  border-radius: 50px;
}


/* Main page */

.battleAgainButtonWrapper {
  margin: 20px;
}

.battleButtonWrapper {
  margin-top: 10px;
  margin-bottom: 30px;
}


.battleAgainButtonWrapper > button{
  font-size: 20px;
  color: white;
  background-color: rgba(15, 190, 190, 0.904);
  border: none;
  border-radius: 50px;
  padding: 10px 50px;
}

button:hover{
  background-color: rgba(88, 226, 226, 0.904);
}

button:active{
  background-color: rgba(17, 128, 128, 0.904);
}

.battleButtonWrapper > button{
  font-size: 30px;
  color: white;
  background-color: rgb(226, 43, 104);
  border: none;
  border-radius: 10px;
  padding: 10px 75px;
}

.battleButtonWrapper > button:hover {
  background-color: rgb(236, 103, 148);
}

.battleButtonWrapper > button:active {
  background-color: rgb(185, 53, 97);
}
/* Character */

.battleFieldWrapper{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.playerInfoBoxWrapper {
	flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  margin: 30px 30px 10px 30px;
  padding: 5px 15px;
  text-align: left;
  font-size: 16px;
}

h3 {
  font-weight: 300;
  margin: 10px 0;

}

h3 span{
  font-weight: 800;
}

img {
  height: 25vw;
}


/* health Bar */

h4{
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  text-align: left;
  padding: 5px 10px;
}

.healthBarWrapper > div{
  height: 25px;
  background-color: rgb(226, 43, 104);
  border-radius: 10px;
  border: 3px solid gray
}

/* Modal  */

.modalWrapper {
  position: absolute;
  z-index: 1;
  left: 35%;
  right: 35%;
  top: 30%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 20px;
  border-radius: 15px;
}

.modalWrapper > div{
  text-align: right;
  font-size: 20px;
}

h1 {
  margin: 0px;
  font-size: 30px;
}

.resultsWrapper {
  text-align: left;
  padding: 15px;
}

.resultsWrapper > div {
  padding: 5px 0px;
}

.modalButtonWraper {
  margin-top: 10px;
}

.modalButtonWraper > button {
  color: white;
  background-color: rgba(15, 190, 190, 0.904);
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 20px;
}